<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Planner</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="/index.js"></script>
</head>
<body>
    <main id="unsplash-background">
        <h1 id="system-clock">12:00 PM</h1>
        <div id="todo-box">
            <ul>
                <li>Walk the dog</li>
                <li>Do the dishes</li>
                <li>Fold Laundry</li>
                <div>ADD NEW TASK<button>+</button></div>
            </ul>
        </div>
    </main>
</body>
</html>